<div class="no-gutters">
        <div class="col-auto mx-auto">
            <div class="row no-gutters justify-content-center">
                <div class="col-auto">
                    <a routerLink="/dashboard"  [routerLinkActive]="['active']" class="btn btn-link-default">
                        <i class="material-icons">store_mall_directory</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/statistics"  [routerLinkActive]="['active']" class="btn btn-link-default">
                        <i class="material-icons">insert_chart_outline</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/cart"  [routerLinkActive]="['active']" class="btn btn-default shadow centerbutton">
                        <i class="material-icons">local_mall</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/favorite"  [routerLinkActive]="['active']" class="btn btn-link-default">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/profile"  [routerLinkActive]="['active']" class="btn btn-link-default">
                        <i class="material-icons">account_circle</i>
                    </a>
                </div>
            </div>
        </div>