<div [@routerTransition]>
    <div class="container">
        <div class="subtitle h6">
            <div class="d-inline-block">
                My Cart<br />
                <p class="small text-mute">3 Items</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 px-0">
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <button
                                    class="btn btn-sm btn-link p-0 float-right"
                                >
                                    <i class="material-icons">remove_circle</i>
                                </button>
                            </div>
                            <div class="col-2 pl-0 align-self-center">
                                <figure class="product-image h-auto">
                                    <img
                                        src="assets/images/apple.png"
                                        alt=""
                                        class="vm"
                                    />
                                </figure>
                            </div>
                            <div class="col px-0">
                                <a href="#" class="text-dark mb-1 h6 d-block"
                                    >Red Apple
                                </a>
                                <h5
                                    class="text-success font-weight-normal mb-0"
                                >
                                    $ 120<sup>.00</sup>
                                </h5>
                                <p class="text-secondary small text-mute mb-0">
                                    1.0 kg
                                    <span class=" text-success ml-2"
                                        >10% off</span
                                    >
                                </p>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button
                                            class="btn btn-light-grey px-1"
                                            type="button"
                                        >
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control w-35"
                                        placeholder=""
                                        value="1"
                                    />
                                    <div class="input-group-append">
                                        <button
                                            class="btn btn-light-grey px-1"
                                            type="button"
                                        >
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <button
                                    class="btn btn-sm btn-link p-0 float-right"
                                >
                                    <i class="material-icons">remove_circle</i>
                                </button>
                            </div>
                            <div class="col-2 pl-0 align-self-center">
                                <figure class="product-image h-auto">
                                    <img
                                        src="assets/images/grapes2.png"
                                        alt=""
                                        class="vm"
                                    />
                                </figure>
                            </div>
                            <div class="col px-0">
                                <a href="#" class="text-dark mb-1 h6 d-block"
                                    >Green Grapes
                                </a>
                                <h5
                                    class="text-success font-weight-normal mb-0"
                                >
                                    $ 120<sup>.00</sup>
                                </h5>
                                <p class="text-secondary small text-mute mb-0">
                                    1.0 kg
                                    <span class=" text-success ml-2"
                                        >10% off</span
                                    >
                                </p>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button
                                            class="btn btn-light-grey px-1"
                                            type="button"
                                        >
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control w-35"
                                        placeholder=""
                                        value="1"
                                    />
                                    <div class="input-group-append">
                                        <button
                                            class="btn btn-light-grey px-1"
                                            type="button"
                                        >
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <button
                                    class="btn btn-sm btn-link p-0 float-right"
                                >
                                    <i class="material-icons">remove_circle</i>
                                </button>
                            </div>
                            <div class="col-2 pl-0 align-self-center">
                                <figure class="product-image h-auto">
                                    <img
                                        src="assets/images/orange-2.png"
                                        alt=""
                                        class="vm"
                                    />
                                </figure>
                            </div>
                            <div class="col px-0">
                                <a href="#" class="text-dark mb-1 h6 d-block"
                                    >Orange</a
                                >
                                <h5
                                    class="text-success font-weight-normal mb-0"
                                >
                                    $ 120<sup>.00</sup>
                                </h5>
                                <p class="text-secondary small text-mute mb-0">
                                    1.0 kg
                                    <span class=" text-success ml-2"
                                        >10% off</span
                                    >
                                </p>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button
                                            class="btn btn-light-grey px-1"
                                            type="button"
                                        >
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control w-35"
                                        placeholder=""
                                        value="1"
                                    />
                                    <div class="input-group-append">
                                        <button
                                            class="btn btn-light-grey px-1"
                                            type="button"
                                        >
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <span class="btn btn-success p-3 rounded-circle">
                            <i class="material-icons">local_activity</i>
                        </span>
                    </div>
                    <div class="col">
                        <div class="form-group mb-0 float-label active">
                            <input
                                type="text"
                                class="form-control"
                                required=""
                                value="ADU00548DOU"
                            />
                            <label class="form-control-label"
                                >Apply Coupon Code</label
                            >
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <button
                            class="btn btn-default button-rounded-36 shadow"
                        >
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body border-top-dashed">
                <div class="row ">
                    <div class="col-4">
                        <p class="text-secondary mb-1 small">Sub Total</p>
                        <h5 class="mb-0">$360.00</h5>
                    </div>
                    <div class="col-4 text-center">
                        <p class="text-secondary mb-1 small">Tax</p>
                        <h5 class="mb-0">$40.00</h5>
                    </div>
                    <div class="col-4 text-right">
                        <p class="text-secondary mb-1 small">Discount</p>
                        <h5 class="mb-0">-$100.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 border-0 shadow-sm border-top-dashed">
            <div class="card-body text-center">
                <p class="text-secondary my-1">Net Payable</p>
                <h3 class="mb-0">$400.00</h3>
                <br />
                <a
                    href="/checkout"
                    class="btn btn-lg btn-default text-white btn-block btn-rounded shadow"
                    ><span>Checkout</span
                    ><i class="material-icons">arrow_forward</i></a
                >
            </div>
        </div>
    </div>
</div>
