<div class="row no-gutters">
        <div class="col-auto align-self-center">
            <button class="btn  btn-link text-dark menu-btn"  (click)="toggleSidebar()"><img src="assets/images/menu.png" alt=""><span class="new-notification"></span></button>
        </div>
        <div class="col text-center"><img src="assets/images/logo-header.png" alt="" class="header-logo"></div>
        <div class="col-auto align-self-center">
            <a routerLink="/profile"  [routerLinkActive]="['active']" class="btn  btn-link text-dark"><i class="material-icons">account_circle</i></a>
        </div>
    </div>
    