<div [@routerTransition]>
    <div class="container">
        <input type="text" class="form-control form-control-lg search my-3" placeholder="Search">

        <div class="subtitle h6">
            <div class="d-inline-block">
                All fresh fruits<br>
                <p class="small text-mute">2154 products</p>
            </div>
            <div class="float-right">
                <div class="btn-group " role="group" aria-label="Basic example">
                    <a href="/favorite" class="btn btn-light active"><i class="material-icons">view_module</i></a>
                    <a href="/favorite-list" class="btn btn-light"><i class="material-icons">view_list</i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <button class="btn btn-sm btn-link p-0"><i class="material-icons md-18">favorite_outline</i></button>
                        <div class="badge badge-success float-right mt-1">10% off</div>

                        <figure class="product-image"><img src="assets/images/apple.png" alt="" class=""></figure>

                        <a href="#" class="text-dark mb-1 mt-2 h6 d-block">Red Apple </a>
                        <p class="text-secondary small mb-2">Imported from Simla</p>
                        <h5 class="text-success font-weight-normal mb-0">$ 120<sup>.00</sup></h5>
                        <p class="text-secondary small text-mute mb-0">1.0 kg</p>
                        <button class="btn btn-default button-rounded-36 shadow-sm float-bottom-right"><i class="material-icons md-18">shopping_cart</i></button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <button class="btn btn-sm btn-link p-0"><i class="material-icons md-18">favorite_outline</i></button>
                        <div class="badge badge-success float-right mt-1">10% off</div>

                        <figure class="product-image"><img src="assets/images/grapes2.png" alt="" class=""></figure>

                        <a href="#" class="text-dark mb-1 mt-2 h6 d-block">Green Grapes</a>
                        <p class="text-secondary small mb-2">Chilled fresh</p>
                        <h5 class="text-success font-weight-normal mb-0">$ 100<sup>.00</sup></h5>
                        <p class="text-secondary small text-mute mb-0">1.0 kg</p>
                        <button class="btn btn-default button-rounded-36 shadow-sm float-bottom-right"><i class="material-icons md-18">shopping_cart</i></button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <button class="btn btn-sm btn-link p-0"><i class="material-icons md-18">favorite_outline</i></button>
                        <div class="badge badge-primary float-right mt-1">10% off</div>

                        <figure class="product-image"><img src="assets/images/orange-2.png" alt="" class=""></figure>

                        <a href="#" class="text-dark mb-1 mt-2 h6 d-block">Orange</a>
                        <p class="text-secondary small mb-2">Sweet and Juicy</p>
                        <h5 class="text-success font-weight-normal mb-0">$ 120<sup>.00</sup></h5>
                        <p class="text-secondary small text-mute mb-0">1.0 kg</p>
                        <button class="btn btn-default button-rounded-36 shadow-sm float-bottom-right"><i class="material-icons md-18">shopping_cart</i></button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <button class="btn btn-sm btn-link p-0"><i class="material-icons md-18">favorite_outline</i></button>
                        <div class="badge badge-info float-right mt-1">50% off</div>

                        <figure class="product-image"><img src="assets/images/orange-small.png" alt="" class=""></figure>

                        <a href="#" class="text-dark mb-1 mt-2 h6 d-block">Lemon</a>
                        <p class="text-secondary small mb-2">Most Demanded</p>
                        <h5 class="text-success font-weight-normal mb-0">$ 120<sup>.00</sup></h5>
                        <p class="text-secondary small text-mute mb-0">1.0 kg</p>
                        <button class="btn btn-default button-rounded-36 shadow-sm float-bottom-right"><i class="material-icons md-18">shopping_cart</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
